{% extends 'base.html' %}
{% load static %}

{% block title %} Ma'lumot {% endblock title %}

{% block content %}
  <!-- ================ start banner Area ================= -->
  <section class="banner-area">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 banner-right">
          <h1 class="text-white">
            Biz haqimizda
          </h1>
          <p class="mx-auto text-white  mt-20 mb-40">
            Bu bo'limda turli xil ma'lumotlar bilan tanishishingiz mumkin
          </p>
          <div class="link-nav">
            <span class="box">
              <a href="{% url 'home' %}">Bosh sahifa </a>
              <i class="lnr lnr-arrow-right"></i>
              <a href="{% url 'about' %}">Ma'lumot</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End banner Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <div class="container-fluid">
      <div class="feature-inner row">
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-book"></i>
            <div class="ml-20">
              <h4>Yangi Sinflar</h4>
              <p>
                O'quvchilar uchun qulay bo'lgan sinflar
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex">
            <i class="ti-cup"></i>
            <div class="ml-20">
              <h4>Top Kurslar</h4>
              <p>
                Darslardan tashqari darslardek sifatli kurslar
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6">
          <div class="feature-item d-flex border-right-0">
            <i class="ti-desktop"></i>
            <div class="ml-20">
              <h4>Bestseller Kitoblar</h4>
              <p>
                Bestseller kitoblar jamlangan kutubxona
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->

  <!-- ================- Start About Area ================= -->
  <section class="about-area section-gap">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 col-md-6 about-left">
          <img class="img-fluid" src="{% static 'img/about-img.png' %}" alt="">
        </div>
        {% for text in texts %}
          <div class="offset-lg-1 col-lg-5 col-md-12 about-right">
            <h1>
              Maktabimiz <br>
              Haqida <br>
              Turli Xil Ma'lumotlar
            </h1>
            <div>
              <p>
                {{ text.text }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- ================- End About Area ================= -->

  <!-- ================ Start Video Area ================= -->
  <section class="video-area section-gap-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <div class="section-title text-white">
            <h2 class="text-white">
              Mashg'ulotlarimizni  <br>
              Tomosha qiling
            </h2>
          </div>
        </div>
        <div class="offset-lg-1 col-md-6 video-left">
          <div class="owl-carousel video-carousel">
            <div class="single-video">
              <div class="video-part">
                <img class="img-fluid" src="{% static 'img/video-img.jpg' %}" alt="">
                <div class="overlay"></div>
                <a class="popup-youtube play-btn" href="">
                  <img class="play-icon" src="{% static 'img/play-btn.png' %}" alt="">
                </a>
              </div>
              <h4 class="text-white mb-20 mt-30">18-Maktabda Bir Kun...</h4>
              <p class="text-white mb-20">
                Maktabimizdagi o'qitish tizimi, o'quvchilar uchun yaratilgan qulayliklar va boshqa shart-sharoitlar
                aks etgan video. Batafsil tomosha qiling!
              </p>
            </div>

            <div class="single-video">
              <div class="video-part">
                <img class="img-fluid" src="{% static 'img/video-img.jpg' %}" alt="">
                <div class="overlay"></div>
                <a class="popup-youtube play-btn" href="https://www.youtube.com/watch?v=VufDd-QL1c0">
                  <img class="play-icon" src="{% static 'img/play-btn.png' %}" alt="">
                </a>
              </div>
              <h4 class="text-white mb-20 mt-30">18-Maktabda Bir Kun...</h4>
              <p class="text-white mb-20">
                Maktabimizdagi o'qitish tizimi, o'quvchilar uchun yaratilgan qulayliklar va boshqa shart-sharoitlar
                aks etgan video. Batafsil tomosha qiling!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Video Area ================= -->

  <!-- ================ Start Feature Area ================= -->
  <section class="other-feature-area">
    <div class="container">
      <div class="feature-inner row">
        <div class="col-lg-12">
          <div class="section-title text-left">
            <h2>
              Maktabning Qanday <br />
              Afzalliklari Bor?
            </h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="other-feature-item">
            <i class="ti-key"></i>
            <h4>Tajribali ustozlar</h4>
            <div>
              <p>
                Tajribali ustozlardan bilim olib, kelajakda
                yetuk kadr bo'lib yetishish imkoniyatiga ega
                bo'lasiz. Bundan tashqari, quvnoqlik kun davomida
                kayfiyatingiz yuqori bo'lishiga sabab bo'ladi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="other-feature-item">
            <i class="ti-files"></i>
            <h4>Qulay va shinam xonalar</h4>
            <div>
              <p>
                Bilim olish uchun yaratilgan barcha sharoitlar o'quvchilar
                uchun! Har bir xona sizning qulayligingizni ta'minlaydi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="other-feature-item">
            <i class="ti-medall-alt"></i>
            <h4>Bilimlar tahlili</h4>
            <div>
              <p>
                Tengdoshlar bilan issiq kofe ustida bilimlar tahlilini qilishga
                nima yetsin? Shunday tengdoshlar bilan birga o'qish esa, saxshiy fikr va
                nutqingiz rivojlanishida o'zining ijobiy ta'sirini ko'rsatadi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="other-feature-item">
            <i class="ti-briefcase"></i>
            <h4>Top kurslar</h4>
            <div>
              <p>
                Darsdan tashqari kurslar bilimlaringizni yanada mustahkamlab,
                yangi bilimlar olishingizga hamda o'ylagan maqsadlaringiz sari 
                odimlab borishingizni ta'minlaydi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--160">
          <div class="other-feature-item">
            <i class="ti-crown"></i>
            <h4>Ekspertlar yordami</h4>
            <div>
              <p>
                Har qanday holatda ekspertlardan yordam so'rash, fikr almashish va 
                ular bergan yo'l-yo'riqlardan yurish maqsadlaringiz amalga oshishiga 
                o'z hissasini qo'shadi.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt--260">
          <div class="other-feature-item">
            <i class="ti-headphone-alt"></i>
            <h4>So'nggi texnologiyalar</h4>
            <div>
              <p>
                Zamonaviy kompyuterlarga ega Informatika xonasi hamda 
                bepul Wi-Fi tarmog'i orqali Texnologiyalar asrida zamonaviy 
                ta'lim olish! Bu imkoniyatlar sizning kelajakda
                proffessional bo'lishingizga yordam beradi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Feature Area ================= -->

  <!-- ================ Start Testimonials Area ================= -->
  <section class="testimonials-area section-gap">
    <div class="container">
      <div class="testi-slider owl-carousel" data-slider-id="1">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="item">
              <div class="testi-item">
                <img src="{% static 'img/quote.png' %}" alt="" />
                <div class="mt-40 text">
                  <p>
                    "Katta g'alaba qozonish uchun ba'zan katta tavakkal qilish kerak!"
                  </p>
                </div>
                <h4>Bill Geyts</h4>
                <p>MICROSOFT kompaniyasi asoschisi, tadbirkor</p>
              </div>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-6">
            <img src="{% static 'img/testimonial/images.jpg' %}" alt="" />
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-5">
            <div class="item">
              <div class="testi-item">
                <img src="{% static 'img/quote.png' %}" alt="" />
                <div class="mt-40 text">
                  <p>
                    "Biz muvaffaqiyatdan emas, muvaffaqiyatsizlikdan tajriba olamiz"
                  </p>
                </div>
                <h4>Bram Stoker</h4>
                <p>Yozuvchi</p>
              </div>
            </div>
          </div>

          <div class="offset-lg-1 col-lg-6">
            <img src="{% static 'img/testimonial/images2.jpg' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ End Testimonials Area ================= -->
{% endblock content %}