{% extends 'base.html' %}
{% load static %}

{% block title %} Blog {% endblock title %}

{% block content %}
<!-- ================ start banner Area ================= -->
	<section class="banner-area">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12 banner-right">
					<h1 class="text-white">
							Blog
					</h1>
					<p class="mx-auto text-white  mt-20 mb-40">
						Bu bo'limda maktabimizdagi yangiliklardan xabardor bo'lishingiz mumkin
					</p>
					<div class="link-nav">
						<span class="box">
							<a href="{% url 'home' %}">Bosh sahifa </a>
							<i class="lnr lnr-arrow-right"></i>
							<a href="{% url 'blog' %}">Blog </a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ================ End banner Area ================= -->

	<!-- Start top-category-widget Area -->
	<section class="top-category-widget-area pt-90 pb-90 ">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="single-cat-widget">
						<div class="content relative">
							<div class="overlay overlay-bg"></div>
							<a href="{% url 'blog' %}">
								<div class="thumb">
									<img class="content-image img-fluid d-block mx-auto" src="{% static 'img/blog/cat-widget1.jpg' %}" alt="">
								</div>
								<div class="content-details">
									<h4 class="content-title mx-auto text-uppercase">so'nggi yangiliklar</h4>
									<span></span>
									<p>Eng so'nggi yangiliklar</p>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="single-cat-widget">
						<div class="content relative">
							<div class="overlay overlay-bg"></div>
							<a href="#" target="_blank">
								<div class="thumb">
									<img class="content-image img-fluid d-block mx-auto" src="{% static 'img/blog/cat-widget2.jpg' %}" alt="">
								</div>
								<div class="content-details">
									<h4 class="content-title mx-auto text-uppercase">Tadbirdan lavhalar</h4>
									<span></span>
									<p>Tadbirlardan lavhalar</p>
								</div>
							</a>
						</div>
					</div>
				</div><div class="col-lg-4">
					<div class="single-cat-widget">
						<div class="content relative">
							<div class="overlay overlay-bg"></div>
								<a href="#">
								<div class="thumb">
									<img class="content-image img-fluid d-block mx-auto" src="{% static 'img/blog/cat-widget3.jpg' %}" alt="">
								</div>
								<div class="content-details">
									<h4 class="content-title mx-auto text-uppercase">Yozuvchi haqida</h4>
									<span></span>
									<p>Yozuvchi haqida ma'lumot</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End top-category-widget Area -->

	<!-- Start post-content Area -->
	<section class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
					{% for blog in blogs %}
						<div class="single-post row">
							<div class="col-lg-3  col-md-3 meta-details">
								<ul class="tags">
								</ul>
								<div class="user-details row">
										<p class="user-name col-lg-12 col-md-12 col-6"><a href="#">{{ superuser.first_name }}</a> <span class="lnr lnr-user"></span></p>
										<p class="date col-lg-12 col-md-12 col-6">{{ blog.date }}<span class="lnr lnr-calendar-full"></span></p>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 ">
								<div class="feature-img">
									<img class="img-fluid" src="{{ blog.photo.url }}" alt="">
								</div>
								
									<a class="posts-title" href="{% url 'blog-detail' blog.date blog.slug %}">
										<h3>{{ blog.title|title }}</h3>
									</a>
									<p class="excert">
										{{ blog.subtitle|title|truncatewords:25|linebreaks }}
									</p>
								<a href="{% url 'blog-detail' blog.date blog.slug %}" class="view-more-btn">Batafsil</a>
							</div>
						</div>
					{% endfor %}
					<nav class="blog-pagination justify-content-center d-flex">
						<ul class="pagination">
							{% if getpages.has_previous %}
								<li class="page-item">
									<a href="?page={{ getpages.previous_page_number}}" class="page-link" aria-label="Previous">
										<span aria-hidden="true">
											<span class="lnr lnr-chevron-left"></span>
										</span>
									</a>
								</li>
							{% endif %}

							{% for i in nums %}
								<li class="page-item">
									<a href="?page={{ forloop.counter }}" class="page-link">
										{{ forloop.counter }}
									</a>    
								</li>
                        	{% endfor %}

							{% if getpages.has_next %}
								<li class="page-item">
									<a href="?page={{ getpages.next_page_number }}" class="page-link" aria-label="Next">
										<span aria-hidden="true">
											<span class="lnr lnr-chevron-right"></span>
										</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>
				</div>
				<div class="col-lg-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget search-widget">
							<form class="search-form" action="{% url 'search-blogs' %}" method="GET">
								{% csrf_token %}
									<input placeholder="Postlarni izlash" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Postlarni izlash'">
									<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<div class="single-sidebar-widget newsletter-widget">
							<h4 class="newsletter-title">Yangiliklar tasmasi</h4>
							<p>
								Bloglardan xabardor bo'lib borishni istasangiz, obuna bo'ling!
							</p>
							<div class="form-group d-flex flex-row">
								<div class="col-autos">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i>
											</div>
										</div>
										<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Elektron Pochta" onfocus="this.placeholder = ''"
										 onblur="this.placeholder = 'Elektron Pochta'">
									</div>
								</div>
								<a href="{% url 'blog' %}" class="bbtns">Obuna</a>
							</div>
							<p class="text-bottom">
								Istagan paytingiz obunani bekor qilishingiz mumkin
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End post-content Area -->
{% endblock content %}